@import "../../resources/styles/base";

.dish {
    display: flex;
    flex-direction: column;

    &__card {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2rem;
    }

    &__info {
        flex-grow: 1;
    }

    &__description {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        line-height: 1.57;
    }

    &__compound-line {
        display: flex;
        flex-direction: column;
    }

    &__compound-list {
        min-width: 25rem;
    }

    &__ingredients-wrapper {
        margin-bottom: 2rem;
    }

    &__ingredients-title {
        margin-bottom: 1rem;
    }

    &__ingredients {
        font-weight: 300;
        line-height: 1.57;
    }

    &__compound-list + &__ingredients-wrapper {
        padding-left: 2rem;
    }

    @include breakpoint(desktop) {
        flex-direction: row;

        &__card {
            flex-basis: 34.5rem;
            margin-bottom: 0;
        }

        &__info {
            padding-left: 2rem;
            margin-top: 5rem;
        }

        &__compound-line {
            flex-direction: row-reverse;
        }

        &__ingredients-wrapper {
            margin-bottom: 0;
            padding-left: 2rem;
        }
    }
}
