@import "../../resources/styles/base";

.dish-card {
    &__price-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }

    &__title {
        font-weight: 600;
        line-height: 1.57;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__image {
        position: relative;
        margin-top: auto;

        .label-icon {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            z-index: 10;
        }
    }
}
