@import "../../styles";

.compound-list {
    line-height: 1.375;

    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__measure {
        width: 8rem;
        font-weight: 600;
        font-size: 1.6rem;
        flex-shrink: 0;
    }

    &__description {
        flex-grow: 1;

        span {
            font-weight: 300;
        }
    }

    @include breakpoint(desktop) {
        &__measure {
            text-align: right;
            width: 25%;
        }

        &__description {
            padding-left: 2rem;
        }
    }
}
