@import "../../resources/styles/base";

.compound-list {
    line-height: 1.375;

    &__row {
        display: flex;
        align-items: flex-end;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__measure {
        width: 5rem;
        flex-shrink: 0;
        font-weight: 600;
        font-size: 1.6rem;
        text-align: left;
        padding-left: 1rem;
    }

    &__description {
        padding-bottom: 0.09em;

        span {
            font-weight: 300;
        }
    }

    @include breakpoint(desktop) {
        &__measure {
        }

        &__description {
            flex-grow: 1;
        }
    }
}
