@import "../../resources/styles/base";

.label-button {
    display: inline-block;
    font-size: 1.4rem;
    height: 2.85em;
    cursor: pointer;

    &__control {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all var(--animation-speed) linear;
        background-color: var(--color-gray2);
        border-radius: 2.5rem;
        height: 100%;
        color: var(--primary-text-color);
        padding: 0 1.61em;

        svg {
            font-size: 2rem;
            transition: color var(--animation-speed) linear;
        }
    }

    &:hover &__content,
    &__control:checked + &__content {
        background-color: var(--secondary-color);

        svg {
            color: var(--primary-color);
        }
    }

    .react-loading-skeleton {
        border-radius: 2.5rem;
    }
}

.label-button.is-checkbox {
    .label-button__content {
        border: 1px solid var(--primary-text-color);
        color: var(--primary-text-color);
        background: transparent;
    }

    &:hover .label-button__content,
    .label-button__control:checked + .label-button__content {
        border-color: var(--primary-color);
        color: var(--selection-background-color);
    }
}
