@import "../../resources/styles/base";

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__title {
        font-size: 2.8rem;
        color: var(--primary-color);
        font-weight: bold;
        text-transform: uppercase;
        order: 0;
    }

    &__search {
        flex-grow: 1;
        flex-shrink: 1;
        order: 2;
        width: 100%;
        margin-top: 2rem;
    }

    &__lunch-pack {
        order: 1;
        margin-left: auto;
    }

    @include breakpoint(desktop) {
        flex-direction: row;
        justify-content: space-between;

        &__search {
            order: unset;
            margin-top: 0;
            max-width: 25.5rem;
        }

        &__title {
            order: unset;
        }

        &__lunch-pack {
            order: unset;
            margin-left: unset;
        }
    }
}
