@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import "styles";

:root {
    --primary-color: #6BB247;
    --secondary-color: #DDEBD3;
    --primary-text-color: #595959;

    --color-gray1: #E8E8E8;
    --color-gray2: #F5F5F5;
    --color-gray3: #D9D9D9;
    --color-gray4: #8C8C8C;
    --color-gray5: #BFBFBF;

    --selection-color: #fff;
    --selection-background-color: #000;

    --base-font-family: 'Open Sans', sans-serif;
    --base-font-size: 1.4rem;
    --base-line-height: 1.3;

    --animation-speed: 0.2s;

    --site-max-width: 109.5rem;
    --site-min-width: 32rem;

    --gutters: 1rem;

    font-size: 10 / 16 * 100%;
}

::selection {
    color: var(--selection-color);
    background-color: var(--selection-background-color);
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--base-font-family);
    color: var(--primary-text-color);
    font-size: var(--base-font-size);
}

html,
body {
    height: 100%;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}


h3,
.h3 {
    line-height: 1.1;
    margin: 0;
    font-weight: 600;
}

.page {
    &__inner {
        max-width: var(--site-max-width);
        min-width: var(--site-min-width);
        margin: auto;
        padding: 0 var(--gutters);
    }
}

.floor {
    --offset-small: 1rem;
    --offset-medium: 2rem;
    --offset-large: 3rem;

    @include breakpoint(desktop) {
        --offset-small: 1.5rem;
        --offset-medium: 3rem;
        --offset-large: 4rem;
    }

    padding: var(--offset-small) 0;
    border-bottom: 1px solid var(--color-gray1);

    &__inner {}

    &[data-offset-top="none"] {
        padding-top: 0;
    }

    &[data-offset-bottom="none"] {
        padding-bottom: 0;
    }

    &[data-offset-top="small"] {
        padding-top: var(--offset-small);
    }

    &[data-offset-bottom="small"] {
        padding-bottom: var(--offset-small);
    }

    &[data-offset-top="medium"] {
        padding-top: var(--offset-medium);
    }

    &[data-offset-bottom="medium"] {
        padding-bottom: var(--offset-medium);
    }

    &[data-offset-top="large"] {
        padding-top: var(--offset-large);
    }

    &[data-offset-bottom="large"] {
        padding-bottom: var(--offset-large);
    }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__logo {
        min-width: 16.5rem;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 2.8rem;
        color: var(--primary-color);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__search {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
    }

    @include breakpoint(desktop) {
        flex-direction: row;
        justify-content: space-between;

        &__logo {
            margin-bottom: 0;
        }

        &__title {
            margin: 0 2rem;
        }

        &__search {
            max-width: 25.5rem;
        }
    }
}

.logo {

}

.search {
    display: flex;
    align-items: center;
    height: 3.2rem;
    border: 1px solid var(--color-gray3);
    border-radius: 0.4rem;
    padding: 0.8rem 1rem;

    &__input {
        border: none;
        padding: 0 .8rem;
        flex-grow: 1;
        font-size: 1.4rem;

        @include placeholder {
            color: var(--color-gray5);
            font-weight: 300;
        }

        &:focus {
            outline: none;
        }
    }

    &__icon {
        color: var(--color-gray4);
        font-size: 1.2rem;
        flex-shrink: 0;
    }
}

.dishes {
    --offset: 2rem 0 1.5rem;

    @include breakpoint(desktop) {
        --offset: 4rem 0 3rem;
    }

    &__item {
        padding: var(--offset);

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-gray1);
        }
    }
}

.dish-card {
    &__price-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }

    &__title {
        font-weight: 600;
        line-height: 1.57;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__image {
        position: relative;
        margin-top: auto;

        .label-icon {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            z-index: 10;
        }
    }
}

.dish {
    display: flex;
    flex-direction: column;

    &__card {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2rem;
    }

    &__info {
        flex-grow: 1;
    }

    &__description {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        line-height: 1.57;
    }

    &__compound-line {
        display: flex;
        flex-direction: column;
    }

    &__compound-list {
        min-width: 25rem;
    }

    &__ingredients-wrapper {
        margin-bottom: 2rem;
    }

    &__ingredients-title {
        margin-bottom: 1rem;
    }

    &__ingredients {
        font-weight: 300;
        line-height: 1.57;
    }

    &__compound-list + &__ingredients-wrapper {
        padding-left: 2rem;
    }

    @include breakpoint(desktop) {
       flex-direction: row;

        &__card {
            flex-basis: 34.5rem;
            margin-bottom: 0;
        }

        &__info {
            padding-left: 2rem;
            margin-top: 5rem;
        }

        &__compound-line {
            flex-direction: row-reverse;
        }

        &__ingredients-wrapper {
            margin-bottom: 0;
            padding-left: 2rem;
        }
    }
}

.compound-list {
    line-height: 1.375;

    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__measure {
        width: 8rem;
        font-weight: 600;
        font-size: 1.6rem;
        flex-shrink: 0;
    }

    &__description {
        flex-grow: 1;

        span {
            font-weight: 300;
        }
    }

    @include breakpoint(desktop) {
        &__measure {
            text-align: right;
            width: 25%;
        }

        &__description {
            padding-left: 2rem;
        }
    }
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -1rem;

    &__item {
        margin-right: .8rem;
        margin-bottom: 1rem;
    }
}

.label-button {
    display: inline-block;
    font-size: 1.4rem;
    height: 2.85em;

    &__control {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all var(--animation-speed) linear;
        background-color: var(--color-gray2);
        border-radius: 2.5rem;
        height: 100%;
        color: var(--primary-text-color);
        padding: 0 1.61em;

        svg {
            font-size: 2rem;
            transition: color var(--animation-speed) linear;
        }
    }

    &:hover &__content,
    &__control:checked + &__content {
        background-color: var(--secondary-color);

        svg {
            color: var(--primary-color);
        }
    }
}

.tip-icon {
    display: inline-block;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: help;
}

.price {
    font-weight: bold;
    font-size: 3rem;
    color: var(--primary-color);

    &__currency {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--primary-text-color);
    }
}

.label-icon {
    display: inline-block;
    font-size: 2rem;
    color: var(--primary-text-color);

    &__control {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all var(--animation-speed) linear;
    }

    &:hover &__content,
    &__control:checked + &__content {
        color: var(--primary-color);
    }
}

.image {
    position: relative;

    &[data-object-ratio="1x1"]:before {
        padding-top: 1 / 1 * 100%;
    }

    &[data-object-ratio="4x3"]:before {
        padding-top: 3 / 4 * 100%;
    }

    &[data-object-ratio="16x9"]:before {
        padding-top: 9 / 16 * 100%;
    }

    &[data-object-ratio="21x9"]:before {
        padding-top: 9 / 21 * 100%;
    }

    &[data-object-ratio] {
        overflow: hidden
    }

    &[data-object-ratio]:before {
        content: "";
        display: block;
    }

    &[data-object-ratio] &__container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }

    &__image.lazyloaded {
        opacity: 1
    }

    & img.lazyload:not([src]) {
        visibility: hidden
    }

    &__source {
        width: 100%;
        height: 100%
    }

    //.u106-00__image[data-object-fit] {
    //    -o-object-position: center;
    //    object-position: center
    //}
    //
    //.u106-00__image[data-object-fit=cover] {
    //    -o-object-fit: cover;
    //    object-fit: cover;
    //    font-family: "object-fit: cover"
    //}
    //
    //.u106-00__image[data-object-fit=contain] {
    //    -o-object-fit: contain;
    //    object-fit: contain;
    //    font-family: "object-fit: contain"
    //}
}

